<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.mapper.InviteRequestMapper">
	<resultMap type="InviteRequest" id="inviteRequestMap">
	<result property="message" column="message"/>
	<result property="form" column="form"/>
	<association property="sender" column="sender"
	select="store.mapper.MemberMapper." javaType="Member"
	jdbcType="VARCHAR"/>
	<association property="receiver" column="receiver"
	select="store.mapper.InviteRequest." javaType="Member"
	jdbcType="VARCHAR"/>
	</resultMap>
</mapper>
  
  
