<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="store.mapper.MemberLitStorageMapper">
  
    <resultMap type="MemberLitStorage" id="memberLitStorageMap">
		<result property="joinTime" column="jointime"/>
  		<association property="member" column="memberid" 
			select="store.mapper.MemberMapper.selectMemberById" 
			javaType="Member" jdbcType="VARCHAR"/>
		<association property="litStorage" column="litstorageid" 
			select="store.mapper.LitStorageMapper.selectLitStorageById" 
			javaType="LitStorage" jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert id="insertMemberLitStorage" parameterType="boolean">
  		INSERT INTO memberlitstorage(memberid, litstorageid, jointime)
  		VALUES(#{member.id}, #{litStorage.id}, #{joinTime})
  	</insert>
  	
  	<select id="selectMemberLitStoragesByLitStorageId" parameterType="memberLitStorageMap">
  		SELECT memberid, litstorageid, jointime
  		FROM memberlitstorage
  		WHERE litstorageid = #{litStorage.id}
  	</select>
  	
  	<select id="selectMemberLitStoragesByMemberId" parameterType="memberLitStorageMap">
  		SELECT memberid, litstorageid, jointime
  		FROM memberlitstorage
  		WHERE memberid = #{member.id}
  	</select>
  </mapper>